frontend http
    bind *:80
    timeout client 100ms
    mode {{ haproxy_mode }}
    default_backend {{ haproxy_backend_servers }}

backend {{ haproxy_backend_servers }}
    timeout connect 5000ms
    timeout server 5000ms
    mode {{ haproxy_mode }}
{%  for server in groups['webservers'] %}
    server {{ hostvars[server]['inventory_hostname'] }} {{ hostvars[server]['ansible_default_ipv4']['address']}}:80 check
{% endfor %}
